<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Curriculum</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="body-registroCiudadano">

<!-- Barra de Navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <i class="bi bi-person-workspace me-1"></i>
        <a class="navbar-brand" th:href="@{/inicio}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Crear Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ver Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Oferta Laboral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inscripcion Curso</a>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link  btn btn-outline-success me-3" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Salir
                    </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- Ingreso de Datos -->
<div class="container ">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="images/logoRegistroCiudadano.png" alt="" width="72" height="57">
            <h1 class="text-primary">CREAR CURRICULUM</h1>
            <p class="lead text-white">Ingresa tus datos correctamente para poder cargar tu curriculum</p>
        </div>

        <div class="row g-5 d-flex justify-content-center">
            <div class="col-md-7 col-lg-8">
                <form action="/curriculum/guardar" th:object="${curriculum}" method="post">
                    
                        
                    
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstap" class="form-label text-white">Apellido</label>
                            <input type="text" class="form-control" id="firstAp" th:field="*{apellido}" placeholder="Ingrese Apellido">
                            <div class="alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstape" class="form-label text-white">Nombres</label>
                            <input type="text" class="form-control" id="firstApe" th:field="*{nombre}" placeholder="Ingrese Nombres">
                            <div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstapz" class="form-label text-white">DNI</label>
                            <input type="number" class="form-control" id="firstApz" th:field="*{dni}" placeholder="Ingrese Dni sin puntos">
                            <div class="alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstapz" class="form-label text-white">Contacto</label>
                            <input type="number" class="form-control" id="firstApz" th:field="*{contacto}" placeholder="Ingrese Telefono">
                            <div class="alert-danger" th:if="${#fields.hasErrors('contacto')}" th:errors="*{contacto}"></div>

                        </div>

                        <div class="col-12">
                            <label for="firstapze" class="form-label text-white">Domicilio</label>
                            <input type="text" class="form-control" id="firstApz" th:field="*{domicilio}" placeholder="Ingrese Domicilio">
                            <div class="alert-danger" th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}"></div>
                        </div>

                        <div class="col-12">
                           <label for="firstapze" class="form-label text-white">Experiencia Laboral</label>
                            <input type="text" class="form-control" id="firstApze" th:field="*{experienciaLaboral}" placeholder="Ingrese Experiencia Laboral">
                            <div class="alert-danger" th:if="${#fields.hasErrors('experienciaLaboral')}" th:errors="*{experienciaLaboral}"></div>
                        </div>

                        <div class="col-12">
                            <label for="firstapzee" class="form-label text-white">Educacion</label>
                            <input type="text" class="form-control" id="firstApzee" th:field="*{educacion}" placeholder="Ingrese Educacion">
                            <div class="alert-danger" th:if="${#fields.hasErrors('educacion')}" th:errors="*{educacion}"></div>
                        </div>

                        <div class="col-12">
                             <label for="firstapzee" class="form-label text-white">Idioma</label>
                            <input type="text" class="form-control" id="firstApzee" th:field="*{idioma}" placeholder="Ingrese Idioma">
                            <div class="alert-danger" th:if="${#fields.hasErrors('idioma')}" th:errors="*{idioma}"></div>
                        </div>
                        <div class="col-12">
                             <label for="firstapzeee" class="form-label text-white">Conocimiento Informatico</label>
                            <input type="text" class="form-control" id="firstApzeee" th:field="*{conocimientoInformatico}" placeholder="Ingrese Conocimiento Informatico">
                            <div class="alert-danger" th:if="${#fields.hasErrors('conocimientoInformatico')}" th:errors="*{conocimientoInformatico}"></div>
                        </div>
                        <div class="col-12">
                            <label for="firstapzeexe" class="form-label text-white">Informacion Complementaria</label>
                            <input type="text" class="form-control" id="firstApzexee" th:field="*{informacionComplementaria}" placeholder="Ingrese Informacion Complementaria">
                            <div class="alert-danger" th:if="${#fields.hasErrors('informacionComplementaria')}" th:errors="*{informacionComplementaria}"></div>
                        </div>
                        <div class="col-12">
                            <label for="firstapzeeef" class="form-label text-white">Dato Adicional</label>
                            <input type="text" class="form-control" id="firstApzeeef" th:field="*{datoAdicional}" placeholder="Ingrese Dato Adicional">
                            <div class="alert-danger" th:if="${#fields.hasErrors('datoAdicional')}" th:errors="*{datoAdicional}"></div>
                        </div>           

                    </div>
                    <br>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">REGISTRARSE</button>
                </form>
                <br>
            </div>
        </div>
    </main>

</div>

<footer th:replace="/layouts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>