<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}">
</head>
<body>


<div class="container">
	<header th:replace="layout/header :: header"></header>
	<div class="row">
		<section class="col-sm-6 col-md-9 bg-light">
				<h3 class="titulo01">En construccion ....</h3>
				<div class="row">
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				</div>
				
		</section>
		<aside th:replace="layout/publicidad :: publicidad"></aside>
	</div>	
	<footer th:replace="layout/footer :: footer"></footer>
</div>
		
	
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	
	
</body>
</html>