<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ver Curriculum</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="body-verCV">

<!-- Barra de Navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <i class="bi bi-person-workspace me-1"></i>
        <a class="navbar-brand" th:href="@{/login}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ciudadano/listar}">Busqueda de ciudadanos por provincia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/oferta/listar}">Ofertas Laborales</a>
                </li>
              
            </ul>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link  btn btn-outline-success me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cerrar Sesion
                    </a>
                </li>
                <div class="nav-item dropdown" sec:authorize="isAuthenticated()">		    
						<form th:action="@{/logout}" method="post">
	    					<spam sec:authentication="username"></spam> 	<input type="submit" value ="logout">
	 					</form>
 					</div>
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- contenido del curriculum -->

<div class="container">
	<div class="row">
		<section class="col-sm-6 col-md-9 bg-light">
		      
			<form action="/ciudadano/filtrar" method="get" class="border">
				<label for="idnombre" class="form-label form-label">Provincia</label>
				<input type="text" id="idnombre" class="form-control form-control-sm"  th:value="${filtroempleadorprovincia}"
				 name="filtroempleadorprovincia" ><br/>
		
				<input type="submit" value="Filtrar" class="btn btn-primary m-3">
				<br/>
			</form>
		
			<br/>
			<div class="btn btn-success">
				<a th:href="@{/ciudadano/nuevo}">Nuevo</a>			
			</div>
			
			<div class="bg-primary titulo01 col-12 text-center">
				<h3>LISTADO DE CIUDADANOS POR PROVINCIA</h3>
			</div>
			<div class="table-responsive">
					<table class="table table-striped">
						<tr>							
							
							<th>Provincia</th>
							<th>telefono</th>
							<th>Email</th>
							<th>Fecha de nacimiento</th>
													
						</tr>
						<tr th:each="s: ${ciudadanos}">
							<td th:text="${s.provincia}"></td>
							<td th:text="${s.telefono}"></td>
							<td th:text="${s.email}"></td>
							<td th:text="${s.fechaNacimiento}"></td>
							
							<td>
                                <a href="#" id="InscripcionCurso" class="btn btn-outline-light">Contratar</a>
                            </td>
							<!--  
							<td th:text="${s.empleador.puestorequerido}"></td>
							-->
						</tr>
					</table>	
					
							
			</div>

		</section>
		
	</div>	
	
</div>
 
<footer th:replace="/layouts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>